/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* @apply font-publicsans; */
    font-family: "Public Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: #ddd;
    background-color: #01000f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#primary-btn {
    border: 2px solid transparent;
    border-radius: 50em;
    background:
        linear-gradient(#01000f, #01000f) padding-box,
        linear-gradient(to bottom, #006fff, #7800d3) border-box;
    cursor: pointer;
}

#secondary-btn {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50em;
    background: rgba(255, 255, 255, 0.1);
}
